*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background: #e1f6ff;    
}
body::-webkit-scrollbar {
    width: 6px;
}
 
body::-webkit-scrollbar-track {
    background-color:#e1f6ff ;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #6e74c8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


#bg1{
    background: url("../assets/bg2_2.svg") no-repeat 0 0;
    position: absolute;
    background-size: 75vw;
    top:0;
    left:0;
    height: 140vh;
    width: 100vw;
}
#nav{
    position: absolute;
    z-index: 10;
}
.side{
    position: absolute;
    top:0;
    right: 0;
}

header{
    display: flex;
    flex-direction: row;
    width:100vw;
    height:15vh;
    background:transparent;
    position: absolute;
    top:0!important;
    left:0!important; 
}

.logo{
    margin:8vh 0 0 6vw;
    position:absolute;
}

header>div>ul{
    display: flex;
    flex-direction: row;
    float: right !important;
    list-style: none;
    margin:8vh 8vw 0 0 ;

}
header>div>ul>li{
    text-decoration: none;
}
header>div>ul>li>a{
    color:#22226a;
     text-decoration: none;
     font-family: Verdana, Geneva, Tahoma, sans-serif;;
     padding-left:6vw;
     font-size: 15px;
    
}

.name-img{
    position: relative;
    width: auto;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: space-around;
    background: transparent;
}

.name-img>img{
    width: 40vw;
    height: auto;
}

.btn{
    position:absolute;
    top:425px;
    left:calc( 50% - 125px );
    font-family: Arial, Helvetica, sans-serif;
    
}
.btn1{
    position:absolute;
    top:425px;
    left:calc( 50% + 22px );
    font-family: Arial, Helvetica, sans-serif;
}
#button3{
    padding:12px 30px;
    background-color:white;
    width: auto;
    font-size:15px;
    height: auto;
    font-weight: bold;
    text-decoration: none;
    color:#4e4ea1;
    border-radius: 45px;
    border-bottom-right-radius: 0px;
}
#button3:hover{
    color:white;
    background: #4e4ea1;
}

.container{
    width: 100vw;
    height: 100vh;
  
}

.middle{
    position: absolute;
    top:540px;
    left:calc( 50% - 10px );
    z-index:99!important;
}
.mouse{
    width:40px;
    height:80px;
    border:3px solid #ff758d;
    border-radius: 60px;
}
.mouse::before{
    content: "";
    width:4px;
    height: 10px;
    position: absolute;
    background:#ff758d;
    border-radius: 5px;
    top:8px;
    left:calc( 50% - 2px );
    opacity:1;
    animation: mouse 2s infinite;
}

@keyframes mouse{
    from{
        top:8px;
        opacity:1;
    }to{
        top:60px;
        opacity:0;
    }
}
.landscape{
    display:none;
}

@media (max-width: 700px){
   .name-img{
       display: block;
    top:150px;
    left: calc( 50% - 30vw );
    position: absolute;
    height:250px;
    width: 300px;
   }
   .middle{
       display: none;
   }

    .logo{
    margin:4vh 0 0 6vw;
}

    header>div>ul{
   
    margin:5vh 8vw 0 0 ;

}
header>div>ul>li>a{
    color:white;
}
    #bg1{
        background-size: 77vh;
    }
     .name-img{
       display: block;
    top:150px;
    left: calc( 50% - 30vw );
}

.name-img>img{
    width: 60vw;
    height: auto;
}

.btn{
    top:300px;
    left:calc( 50% - 100px );
    
    
}
.btn1{
    top:300px;
    left:calc( 50% + 12px );
    
}

#button3{
    padding:8px 20px;
   
}

}

@media (max-width:800px) and (orientation:landscape){
    section{
        display:none;
    }
    .landscape{
        display: flex;
        width: 100vw;
        height: 100vh;
        position: absolute;
        justify-content: space-around;
        align-items: center;
        background:#6e74c8;
        
    }
    .landscape>img{
        width:200px;
        height:200px;
    }
}